.note-title {
    font-size: 1.1rem;
    font-weight: bold;

}

.note-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
    margin: 10px 0;

}

.note-card {
    margin: 15px;
    padding: 17px;
    box-shadow: 2px 2px 8px grey;
    border-radius: 8px;
}

.note-meta {
    gap: 10px;
    margin: 10px 0;
}

.note-card:hover {
    box-shadow: 4px 4px 12px grey;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search {
    display: flex;
    padding: 10px;
    margin: 30px;
    gap: 15px;
}

span {
    font-size: 0.9rem;
    margin: 10px 0;
}

.view-btn {
    text-decoration: none;
    color: white;
    background-color: rgb(36, 75, 206);
    padding: 3px 5px;
    gap: 15px;
    margin: 20px 0;
    border-radius: 5px;
}