* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}


h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}



